* {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.recipebox {
  padding-top: 20px;
  gap: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  border: 1px solid black;
}

.recipebox h1 {
  letter-spacing: 5px;
  font-weight: 500;
  text-transform: uppercase;
}
.recipebox img {
  width: 40%;
  border-radius: 20px;
  border-bottom: 1px solid black;
}

.recipebox p {
  text-align: center;
  width: 97%;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}